* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-main);
  color: var(--text-dark);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2rem;
}