* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-main);
  color: var(--text-dark);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2rem;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

h1, h2, h3 {
  line-height: 1.25;
  letter-spacing: -0.01em;
}

p, li {
  font-size: 0.95rem;
  color: var(--text-dark);
}

/*spacing*/
.section {
  padding-top: 0.5rem;
}

/* paragraph readability */
.section p {
  max-width: 70ch;
}

/* Lists alignment */
.section ul {
  margin-top: 0.5rem;
}