:root {
  --primary: #2563eb;
  --primary-light: #e0e7ff;

  --text-dark: #111827;
  --text-muted: #6b7280;

  --bg-main: #f9fafb;
  --bg-card: #ffffff;

  --border-light: #e5e7eb;

  --font-main: 'Inter', sans-serif;
}

/* DARK THEME */
[data-theme="dark"] {
  --text-dark: #f9fafb;
  --text-muted: #9ca3af;

  --bg-main: #111827;
  --bg-card: #1f2933;

  --border-light: #374151;
  --primary-light: #1e3a8a;
}
